@model Portfolio.Models.JobViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @:| @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</p>
