@model IEnumerable<Portfolio.Models.JobViewModel>

<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
            @Html.ActionLink("Details", "Details", new {id = item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        }
    </tr>
}

</table>
